# Práctica Final 
##### Por Mariana Lugo Ibarra y Miguel Ángel Reyes Retana.

In [19]:
options(repr.plot.width=8, repr.plot.height=8)
library(readxl)
library(ggplot2)
library(dplyr)
library(tidyverse)

### Datos:

$COVID-19$:

$CONEVAL$:

$Infonavit$: 

* Se utiliza la información del precio promedio de las viviendas a nivel municipal y salario diario integrado promedio de los acreditados por municipio con el objetivo de establecer municipios "ricos" y "pobres" y su relación con la información del COVID-19. 
* Los set de datos contienen la clave del muncipio donde se financió vivienda, el precio promedio por municipio, el salario diario integrado de los acreditados promedio por municipio, la proporción de créditos originados por año en cada municipio y el año de originación.*

In [34]:
INF10<-read_excel("Datos/INFV2010.xlsx")
INF11<-read_excel("Datos/INFV2011.xlsx")
INF12<-read_excel("Datos/INFV2012.xlsx")
INF13<-read_excel("Datos/INFV2013.xlsx")
INF14<-read_excel("Datos/INFV2014.xlsx")
INF15<-read_excel("Datos/INFV2015.xlsx")
INF16<-read_excel("Datos/INFV2016.xlsx")
INF17<-read_excel("Datos/INFV2017.xlsx")
INF18<-read_excel("Datos/INFV2018.xlsx")
INF19<-read_excel("Datos/INFV2019.xlsx")
INF0620<-read_excel("Datos/INFV062020.xlsx")

In [36]:
infonavit<-rbind(INF10,INF11, INF12,INF13,INF14,INF15,INF16,INF17,INF18,INF19,INF0620)
head(infonavit)

  CV_MUN PRECIO_PROM SDI_PROM PC_CRED      YEAR
1 01001  332299.2    4.852961 1.220829e-02 2010
2 01002  308960.0    6.135259 2.159995e-05 2010
3 01003  244566.1    2.902301 6.911985e-05 2010
4 01004  353464.8    4.365375 4.967989e-05 2010
5 01005  422150.7    6.617866 2.246395e-03 2010
6 01006  284349.8    4.151593 1.360797e-04 2010

In [45]:
df_inf<-infonavit %>% group_by(CV_MUN) %>% summarise(precio_mean=mean(PRECIO_PROM),
                                                    salario_mean=mean(SDI_PROM))
head(df_inf)

`summarise()` ungrouping output (override with `.groups` argument)

  CV_MUN precio_mean salario_mean
1 01001  450371.7    4.767035
2 01002  351536.1    3.952249
3 01003  418039.4    3.360099
4 01004  368355.9    3.782037
5 01005  672823.9    7.371576
6 01006  388481.6    4.334164

Del 2010 al primer semestre del 2020 el Infonavit ha financiado viviendas en 1517 municipios.

In [47]:
dim(df_inf)

[1] 1517    3